<!DOCTYPE html>
<html>
    <head>
        <title><%= title_tag %></title>
    </head>

    <body>
        <h1><%= title_page %></h1>
	<ul>
	    <% livres.forEach(function (un_livre) {%>
		<li><%= un_livre.titreLivre %> par <%= un_livre.auteurLivre %></li>

		<a href="/livre-affichage-par-id/<%= un_livre._id %>">
		    Afficher
		</a>
		<br>
		<a href="/livre-suppression-par-id/<%= un_livre._id %>">
		    Supprimer
		</a>

	    <% }); %>
	</ul>
    </body>
</html>
